.container-user {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-color: var(--cor-laranja);
}

.container-user > p {
    color: var(--cor-branco);
    font-size: 24px;
    font-weight: 600;
}

.nome-usuario {
    color: #111827;
    font-size: 24px;
    font-weight: bold;
}
.resultado-informacoes {
    font-size: 24px;
    font-weight: bold;
    color: #111827;
}

.container-info-user {
    min-width: 260px;
    padding: 30px;
}

.btn-excluir-conta {
    color: red !important;
}

.gap-input {
    gap: 30px;
}

.btn-cancelar-edicao-perfil,
.btn-cancelar-alterar-senha {
    width: 240px;
    height: 40px;
    background-color: var(--cor-branco) !important;
    border: 1px solid #e4e4e7 !important;
    font-weight: 600 !important;
    cursor: pointer !important;
}

.btn-confirmar-edicao-perfil,
.btn-confirmar-alterar-senha {
    width: 240px;
    height: 40px;
    color: #f4f4f5;
    background-color: var(--cor-laranja) !important;
    border: 1px solid var(--cor-laranja) !important;
    font-weight: 600 !important;
    cursor: pointer !important;
}

.btn-cancelar-edicao-perfil:hover,
.btn-cancelar-alterar-senha:hover,
.btn-cancelar-exclusao:hover {
    background-color: #f4f4f5 !important;
}

.btn-confirmar-edicao-perfil:hover,
.btn-confirmar-alterar-senha:hover,
.btn-confirmar-exclusao:hover {
    background-color: #c94a09 !important;
}

.gap-botoes {
    gap: 24px;
}

.badge-tipo-receita {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f5;
    border-radius: 14px;
    padding: 0 12px;
    height: 24px;
    white-space: nowrap;
    width: fit-content;
}

.badge-tipo-receita > p {
    font-size: 12px;
    font-weight: 600;
    color: #18181b;
}

.badge {
    height: 24px;
    background-color: #f4f4f5;
    border-radius: 14px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    width: fit-content;
    padding: 0 12px;
}

.badge > p {
    font-size: 12px;
    font-weight: 600;
    color: #18181b;
}

.badge-iniciante {
    background-color: #dcfce7;
}

.badge-iniciante > p {
    color: #166534 !important;
}

.badge-intermediario {
    background-color: #fef9c3;
    color: #854d0e !important;
}

.badge-intermediario > p {
    color: #854d0e !important;
}

.badge-avancado {
    background-color: #fee2e2;
    color: #991b1b  !important;
}

.badge-avancado > p {
    color: #991b1b !important;
}

.focus-disabled {
    background-color: #f4f4f5;
    color: #6b7280;
}

.btn-cancelar-exclusao {
    width: 112px;
    height: 40px;
    background-color: var(--cor-branco) !important;
    border: 1px solid #e4e4e7 !important;
    font-weight: 600 !important;
    cursor: pointer !important;
}

.btn-confirmar-exclusao {
    width: 112px;
    height: 40px;
    color: #f4f4f5;
    background-color: var(--cor-laranja) !important;
    border: 1px solid var(--cor-laranja) !important;
    font-weight: 600 !important;
    cursor: pointer !important;
}

.gap-card {
    gap: 16px;
}