@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<div class="uk-margin-medium-top container-principal uk-margin-xlarge-left"">
    <div class=" uk-flex uk-flex-middle uk-flex-between">
    <div>
        <h3 class="uk-margin-remove-bottom">Minhas Receitas</h3>
        <p class="uk-margin-remove-top">Gerencie suas receitas culinárias</p>
    </div>
    <div>
        <div class="">
            <button href="" class="uk-flex uk-flex-middle uk-border-rounded container-botao-adicionar">
                <i class="icone-adicionar uk-margin-small-right"></i>
                Nova Receita
            </button>
        </div>
    </div>
</div>
<div class="uk-inline uk-width-1-3@m uk-flex">
    <span class="uk-form-icon" uk-icon="icon: search"></span>
    <input type="search" id="pesquisar-receita" name="pesquisar" class="uk-input uk-border-rounded focus-input"
        placeholder="Buscar receitas..." />
</div>
<div class="container-card-informacoes">
    <div class="card-informacoes uk-flex uk-flex-middle">
        <i class="icone-logo-header uk-margin-medium-left"></i>
        <div>
            <p class="uk-margin-remove-bottom">Total de Receitas</p>
            <h3 class="uk-margin-remove-top uk-margin-remove-bottom">3</h3>
        </div>
    </div>
    <div class="card-informacoes">
        <p>Total de Receitas</p>
    </div>
    <div class="card-informacoes">
        <p>Total de Receitas</p>
    </div>
</div>
</div>
