@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>TELA HOME</h2>
    <a href="@Url.Action("Index", "Receita")">
        <button>RECEITA</button>
    </a>
    <button onclick="saboro.home.teste()" id="teste">TESTE</button>
</div>

<script src="~/dist/home.entry.js" asp-append-version="true"></script>
