.container-botao-adicionar {
    background-color: var(--cor-laranja) !important;
    border: none !important;
    color: #ffffff !important;
    font-weight: 600 !important;
    height: 40px !important;
    cursor: pointer !important;
}

.container-botao-adicionar:hover {
    background-color: #c94a09 !important;
}

.container-principal {
    padding-left: 40px;
    padding-right: 40px;
}

.container-card-informacoes {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 32px;
}

.container-card-receitas {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 32px;
}

.card-informacoes {
    height: 100px;
    border: 1px solid #e4e4e7;
    border-radius: 8px;
}

.card-receitas {
    height: 260px;
    border: 1px solid #e4e4e7;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 1440px) {
    .card-informacoes {
        display: flex;
        justify-content: center;
    }
}

.texto-informacoes {
    font-size: 14px;
    color: #4b5563;
}

.resultado-informacoes {
    font-size: 24px;
    font-weight: bold;
    color: #111827;
}

.titulo-receita {
    font-size: 18px;
    font-weight: 600;
    color: #000;
}

.descricao-receita {
    max-width: 309px;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* número de linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.badge {
    height: 24px;
    background-color: #fef9c3;
    border-radius: 14px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    width: fit-content;
    padding: 0 12px;
}

.badge > p {
    font-size: 12px;
    font-weight: 600;
}

.badge-facil {
    background-color: #dcfce7;
    color: #166534;
}

.badge-medio {
    background-color: #fef9c3;
    color: #854d0e;
}

.badge-dificil {
    background-color: #fee2e2;
    color: #991b1b;
}

.badge-tipo-receita {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f5;
    border-radius: 14px;
    padding: 0 12px;
    height: 24px;
    white-space: nowrap;
    width: fit-content;
}

.badge-tipo-receita > p {
    font-size: 12px;
    font-weight: 600;
    color: #18181b;
}

.container-botoes-receita {
    gap: 8px;
}

.container-botao-visualizar {
    background-color: var(--cor-branco) !important;
    border: 1px solid #e4e4e7 !important;
    font-weight: 600 !important;
    // max-width: 100% !important;
    flex: 1 !important;
    height: 36px !important;
    cursor: pointer !important;
}

.container-botao-editar-excluir {
    background-color: var(--cor-branco) !important;
    border: 1px solid #e4e4e7 !important;
    font-weight: 600 !important;
    max-width: 40px !important;
    height: 36px !important;
    cursor: pointer !important;
}

.container-botao-visualizar:hover {
    background-color: #f4f4f5 !important;
}

.container-botao-acoes-receita:hover {
    background-color: #f4f4f5 !important;
}

.container-botao-editar-excluir:hover {
    background-color: #f4f4f5 !important;
}

.container-principal-form {
    width: 832px;
    height: auto;
    border: 1px solid #e4e4e7;
    border-radius: 8px;
    margin-left: 180px;
}

.gap-input {
    gap: 24px;
}

.container-botoes {
    gap: 16px;
}

.btn-cancelar {
    width: 368px;
    height: 40px;
    background-color: var(--cor-branco) !important;
    border: 1px solid #e4e4e7 !important;
    font-weight: 600 !important;
    cursor: pointer !important;
}

.btn-salvar {
    width: 426px;
    height: 40px;
    color: #f4f4f5;
    background-color: var(--cor-laranja) !important;
    border: 1px solid var(--cor-laranja) !important;
    font-weight: 600 !important;
    cursor: pointer !important;
}

.btn-cancelar:hover,
.btn-cancelar-exclusao:hover {
    background-color: #f4f4f5 !important;
}

.btn-salvar:hover,
.btn-confirmar-exclusao:hover {
    background-color: #c94a09 !important;
}

.btn-cancelar-exclusao {
    width: 112px;
    height: 40px;
    background-color: var(--cor-branco) !important;
    border: 1px solid #e4e4e7 !important;
    font-weight: 600 !important;
    cursor: pointer !important;
}

.btn-confirmar-exclusao {
    width: 112px;
    height: 40px;
    color: #f4f4f5;
    background-color: var(--cor-laranja) !important;
    border: 1px solid var(--cor-laranja) !important;
    font-weight: 600 !important;
    cursor: pointer !important;
}

.botao-excluir-lista {
    width: 38px;
    height: 40px;
    background-color: var(--cor-branco) !important;
    border: 1px solid #e4e4e7 !important;
    cursor: pointer !important;
    border-radius: 8px !important;
}

.botao-excluir-lista:hover {
    background-color: #f4f4f5 !important;
}

.tamanho-altura-padrao {
    height: 40px;
}

.modal-confirmar-exclusao {
    border: 2px solid var(--cor-laranja) !important;
}

.titulo-receita-modal-confirmacao-exclusao {
    font-weight: 600 !important;
    font-size: 16px !important;
}

.gap-modal-exclusao {
    gap: 8px !important;
}

.modal-visualizar-receita {
    border: 2px solid var(--cor-laranja) !important;
    min-width: 832px !important;
}

.coluna-ingredientes-modos-preparo {
    width: 50% !important;
    min-height: 400px !important;
}

.ponto {
    width: 8px;
    height: 8px;
    background-color: var(--cor-laranja);
    border-radius: 50%;
}

.passo {
    min-width: 28px;
    height: 28px;
    background-color: var(--cor-laranja);
    border-radius: 50%;
}

.ordem-receita {
    font-size: 14px;
    color: var(--cor-branco);
    font-weight: 600;
}

.dica-chef {
    background-color: #fff7ed;
    border: 1px solid #fed7aa;
    color: #9a3412;
}

.destaque-dica {
    font-weight: bold;
    margin-right: 4px;
}

.container-nenhuma-receita {
    border: #c94a09 1px solid;
    padding: 10px;
    position: absolute;
    bottom: 30%;
    left: 38%;
    border-radius: 8px;
}
